@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #396ce8;
    --primary-dark-color: #1544b7;
    --white-color: #fff;
    --black-10-color: rgba(0, 0, 0, 0.1);
    --black-20-color: rgba(0, 0, 0, 0.1);
    --black-50-color: rgba(0, 0, 0, 0.5);
    --transition: all 300ms ease-in-out;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}
img{
    width: 100%;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.upload{
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: rgb(21, 68, 183) 0px 8px 24px;
    width: 340px;
    min-height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.upload-info p{
    opacity: 0.6;
    font-weight: 600;
    margin-top: 10px;
}
.upload-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-img{
    max-height: 300px;
    overflow-y: scroll;
}
.upload-img::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px var(--black-20-color);
    border-radius: 6px;
}
.upload-img::-webkit-scrollbar-thumb{
    background-color: var(--black-10-color);
    border-radius: 6px;
}
.upload-img::-webkit-scrollbar{
    width: 5px;
}
.upload-area{
    padding: 20px;
    border: 2px dashed var(--black-20-color);
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    transition: var(--transition);
}
.upload-area:hover{
    background-color: rgba(176, 196, 246, 0.1);
}
.upload-area-img img{
    max-width: 80px;
}
.upload-area-text{
    font-weight: 700;
    color: var(--black-50-color);
}
.upload-area-text span{
    color: var(--primary-color);
}
.visually-hidden{
    visibility: hidden;
    opacity: 0;
}
.upload-img{
    width: 340px;
}
.uploaded-img{
    padding: 4px 0;
    position: relative;
}


/* remove image button */
.remove-btn{
    width: 22px;
    height: 22px;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -8px;
    cursor: pointer;
    transition: var(--transition);
}
.remove-btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}